<head>
    <link rel="stylesheet" href="/css/components/header.css">
</head>
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <img src="/assets/img/Logo.webp" alt="Universidad Tecnológica del Usumacinta">
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="/index.html">Inicio</a></li>
                    
                    <!-- Conócenos con submenú -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle">Conócenos <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/views/conocenos/bienvenida.html">Bienvenida</a></li>
                            <li><a href="/views/conocenos/historia.html">Historia</a></li>
                            <li><a href="/views/conocenos/mision.html">Misión y Visión</a></li>
                            <li><a href="/views/conocenos/himno.html">Himno UTU</a></li>
                            <li><a href="/views/conocenos/directorio.html">Directorio</a></li>
                            <li><a href="/views/conocenos/ubicacion.html">Ubicación</a></li>
                        </ul>
                    </li>
                    
                    <!-- Áreas con submenú -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle">Áreas <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/views/areas/rectoria.html">Rectoría</a></li>
                            <li><a href="/views/areas/vinculacion.html">Vinculación</a></li>
                            <li><a href="/views/areas/servicios-escolares.html">Servicios Escolares</a></li>
                            <li><a href="/views/areas/extension-universitaria.html">Extensión Universitaria</a></li>
                            <li><a href="/views/areas/recursos-humanos.html">Recursos Humanos</a></li>
                        </ul>
                    </li>
                    
                    <!-- Oferta Educativa con submenú -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle">Oferta Educativa <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/views/oferta_educativa/biotecnologia.html" class="active">Ing. en Biotecnología</a></li>
                            <li><a href="/views/oferta_educativa/ti.html">Ing. en Tecnologías de la Información</a></li>
                            <li><a href="/views/oferta_educativa/proteccioncivil.html">TSU. Paramédico</a></li>
                            <li><a href="/views/oferta_educativa/negocios.html">Lic. en Negocios y Mercadotecnia</a></li>
                            <li><a href="/views/oferta_educativa/gastronomia.html">Lic. en Gastronomía</a></li>
                            <li><a href="/views/oferta_educativa/contaduria.html">Lic. en Contaduría</a></li>
                            <li><a href="/views/oferta_educativa/turismo.html">Lic. en Gestión Turística</a></li>
                        </ul>
                    </li>
                    
                    <!-- Estudiantes con submenú -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle">Estudiantes <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/views/estudiantes/admision-2025.html">Admisión 2025</a></li>
                            <li><a href="/views/estudiantes/inscripcion.html">Inscripción/Reinscripción</a></li>
                            <li><a href="http://187.217.194.242/logueo.aspx">Calificaciones</a></li>
                            <li><a href="/assets/archivos/documentos/Calendario escolar UTU 2025-2026.pdf">Calendario Escolar</a></li>
                            <li><a href="/views/estudiantes/paraescolar.html">Paraescolar</a></li>
                            <li><a href="/views/estudiantes/proyectos.html">Proyectos</a></li>
                            <li><a href="/views/estudiantes/becas.html">Becas</a></li>
                            <li><a href="./views/estudiantes/quejas-sugerencias.html">Quejas y Sugerencias</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="/views/contacto.html">Contacto</a></li>
                </ul>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </div>
</header>